@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@font-face{font-family:miama;font-style:italic;font-weight:400;src:local('Miama'),url(https://fonts.cdnfonts.com/s/302/Miama-Regular.woff) format('woff')}@font-face{font-family:miama;font-style:normal;font-weight:300;src:local('Miama'),url(https://fonts.cdnfonts.com/s/302/Miama.woff) format('woff')}

#miama-font{
    font-family: 'Miama', sans-serif;
    font-weight: 200;
    font-size: 150px;
}
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

/* Shared Css */

*{
    color: #FFFFFF;
    margin: 0px auto;
    /* background-color: black; */
}
main{
    background-color: #000000;
}
section{
    margin: 0px auto;
    max-width: 80%;
    margin-bottom: 2rem;
}
.line-gap{
    margin: 1.2rem 0px;
}
.primary-color{
    color:#E6533C ;
}
.primary-button{
background-color: #E6533C;
}
.shared-button{
    background-color: #E6533C;
    padding: 1.3rem 4rem;
    border-radius: 3.5rem;
    font-size: 1.5rem;
    font-weight: 600;
    border: none;
    margin: 0px;
}
.description{
    font-size: 1rem;
    opacity: 50%;
}
.title{
    font-size: 3.2rem;
    font-weight: 900;
}

.flex{
    display: flex;
}
/* Header Section */

/* NavBar */
header{
    /* background-image: linear-gradient(180deg, rgba(8, 8, 8, 0.74),rgb(30, 30, 30) 50%, rgba(1,1,1,0.71) 100%); */
    background-image: linear-gradient(180deg, rgba(8, 8, 8, 1),rgb(48, 47, 47) 30%, rgba(1,1,1,1) 100%);
}
nav{
    max-width: 80%;
    margin: 0px auto;
}
.banner-container{
    max-width: 80%;
}
.nav-container{
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0px;
}
.nav-heading,.nav-menu{
    margin: 0px;
}
.nav-heading h4{
    font-weight: 800;
    font-style: italic;
    font-size: 3rem;
    margin: 0px;
}

.nav-menu>ul>li{

    list-style: none;
    font-size: 1.5rem;
    padding: 0.6rem 1.6rem;
    font-weight: 600;
}
#home{
    border-radius: 3.5rem;
}

/* Banner Section */
.banner-container{
}
.banner-content{
    width: 100%;
    align-items:center;
    line-height: 80px;
    justify-content: space-between;
}
.banner-content-section{
    max-width: 33rem;
}
#shape{
    
}
.banner-image, .banner-inner-content {
    margin: 0px;
}
.banner-image img{
    width: 100%;
    height: auto;
    /* position: absolute;
    z-index: -1; */
}
.banner-content-heading{
    font-size: 5rem;
    font-weight: 900;
    margin: 0px;
}
.banner-content-description{
    margin: 2.2rem 0px;
    line-height: 2rem;
}
.banner-button{
    gap: 0.8rem;
}

/* Button Section */
button{
    padding: 1.3rem 3.8rem;
    border-radius: 3.5rem;
    font-size: 1.5rem;
    font-weight: 600;
    border: none;
    margin: 0px;
}
#download-btn{
    border: 2px solid #FFFFFF;
    background: transparent;
}

/* Card Section */
.card{
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 1rem 1.5rem;
    position:relative;
    max-width: 10rem;
    max-height: 4rem;
    line-height: 2.2rem;

}
.card-position-bottom{
    top: -190px;
    left: -150px;
    align-items: center;
    justify-content: space-between;
}
.card-position-top{
    top: -590px;
    left: 150px;
    align-items: center;
    gap: 1rem;
}

.card-circle{
    height: 3.3rem;
    width: 3.3rem;
    background-color: #E6533C;
    border-radius: 50%;
}
.card-title{
    color: #FAFAF9;
    font-weight: 900;
    font-size: 1.7rem;
}

.card-description{
    color: #EFEDE8;
    font-size: 1rem;
    opacity: 65%;
}

/* Habit Section */
.habit-container{
    flex-direction: column;
    gap: 1.5rem;
}
.habit-content{
    max-width: 43rem;
    text-align: center;
}
.habit-title{
    margin-bottom: 1.2rem;
}
.habit-card-title{
    font-size: 1.3rem;
    font-weight: 600;
    margin: .8rem 0px;
}
.habit-card{
    max-width: 18rem;
    text-align: center;
}
.habit-card-image{
    border-radius: 50%;
}

/* Exercises-Section */

.exercises{
    background-color: #222222;
    border-radius: 1rem;
    align-items: center;
    justify-content: space-between;
}

.exercises-content{
    max-width: 30rem;
}
.exercises-image img{
    border-radius: 1rem;
    width: 90%;
    transition: width 0.7s ease 0.2s;
}
.exercises-image:hover img{
    width: 98%;
}

.bmi-calculator{
    width: 100%;
    background-color: #222222;
    margin: 2rem 0px;
    justify-content: space-between;

}
.bmi-content{
    max-width: 45rem;
}
.bmi-chart{
    flex-direction: column;
    gap: 1.5rem;
}
.bmi-chart-title{
    font-size: 2rem;
    font-weight: 900;
    margin-top: 1.5rem;
}
table,tr,td{
    border: 1px solid rgb(255, 255, 255, 10%);
    /* opacity: 10%; */
    border-collapse: collapse;
    padding: 1rem;
}

.table-hade>td{
    font-weight: 500;
    color: #FFFFFF;
}
.table-data{
    font-weight: lighter;
}

.bmi-form{
    max-width: 40rem;
}
input,select{
    height: 100%;
    width: 100%;
    border-radius: 0.6rem;
    background-color: rgb(255, 255, 255, 10%);
    height: 3rem;
    border: none;
    padding: 5px;
}
input::placeholder{
    color: #FFFFFF;
    opacity: 60%;
    padding-left: 1rem;
}


.data-form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}
.activity{
    grid-column: span 2;
}

#dropdown{
    color: #FFFFFF;
    font-weight: 400;
    opacity: 60%;
    height: 100%;
    width: 100%;
    padding-left: 1.2rem;
    background-color: rgb(255, 255, 255, 10%);
  }
  #activity-id{
    padding-left: 1rem;
    color: #FFFFFF;
    opacity: 60%;
    margin-bottom: 2rem;
  }
  #dropdown:focus {
    background-color: rgb(48, 44, 44);

  }